.mui-content{
	margin-top: 0rem !important;
}
body{
	background: #F1F1F1 !important;
}
.bill_type{
	height: 1.32rem;
	line-height: 1.32rem;
	background: white;
	margin: 0.48rem 0rem;
	padding-left: 0.48rem;
	font-size: 0.48rem;
}
.mui-input-row{
	display: inline-block !important; 
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	top:0.2rem;
}
.mui-radio input[type='radio']:checked:before {
    content: '\e442';
    color:lightseagreen;
}
.bill_name{
	padding-left: 0.48rem;
	background: white;
}
.bill_name span{
	display: inline-block;
	width:22%;
	font-size: 0.48rem;
}
.bill_TypeName{
	height: 1.32rem;
	line-height: 1.32rem;
	background: white;
}
.bill_TypeName>input{
	width: 70%;
	height: 1.1rem;
	border: none;
	background:white !important;
	font-size: 0.4rem;
}
.bill_TypeName{
	border-bottom:0.5px solid lightgray;
}
#next_title{
	height: 1.32rem;
	line-height: 1.32rem;
	background: #F1F1F1;
	padding-left: 0.48rem;
	font-size: 0.4rem;
}
.save{
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	font-size: 0.56rem;
	color: white;
	width: 100%;
	background:lightseagreen;
	border-radius: 0.2rem;
}
.save_cont{
	margin-top: 1rem;
	padding: 0rem 0.48rem;
}
#suihao{
	border: none;
}
.bill_TypeName:nth-last-of-type(1){
	border: none;
}
#alert{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.6);
	position: fixed;
	top: 0rem;
	left: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.48rem;
}
#alert>div{
	width: 80%;
/*	height: 5rem;*/
	background: white;
	padding: 0rem 0.48rem;
	border-radius: 0.1rem;
}
h4{
	text-align: center;
	height: 1rem;
	line-height: 1.2rem;
}
h5{
	text-align: center;
	border-top: 1px solid lightgrey;
	height: 1.32rem;
	line-height: 1.4rem;
	color: orange;
	font-size: 0.56rem;
}
#alert>div p{
	text-align: justify;
	font-size: 0.48rem;
}
